body {
  font-family: "Roboto", sans-serif;
}

.field {
  border: none;
  border-spacing: 0px;
}

.field tr, .field td {
  border: none;
  padding: 0px;
  vertical-align: top;
}

.field img {
  display: block;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
