body {
  font-family: "Amatic SC", cursive;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

#title {
  font-size: 50px;
}

#subtitle {
  margin-bottom: 20px;
  font-size: 27px;
  display: block;
}

a {
  color: cadetblue;
}

#controls, #level-title {
  font-size: 40px;
  margin: 0px;
}

#level-title {
  margin-bottom: 10px;
}

#controls {
  margin-top: 10px;
}

#controls :not(.active-control) {
  color: grey;
  pointer-events: none;
}

#level-name {
  margin-right: 40px;
}

#next-level, #prev-level, #reset-level {
  color: black;
}

#container {
  width: auto;
}

#level-name, .level-index, .bold {
  font-weight: bold;
}

#field {
  border: none;
  border-spacing: 0px;
}

#field, #item-list {
  margin-left: auto;
  margin-right: auto;
}

#field tr, #field td {
  border: none;
  padding: 0px;
  vertical-align: top;
  position: relative;
  vertical-align: top;
}

#field.img-size-128 tr, #field.img-size-128 td {
  width: 128px;
  height: 128px;
}
#field.img-size-96 tr, #field.img-size-96 td {
  width: 96px;
  height: 96px;
}
#field.img-size-64 tr, #field.img-size-64 td {
  width: 64px;
  height: 64px;
}
#field.img-size-32 tr, #field.img-size-32 td {
  width: 32px;
  height: 32px;
}
#field.img-size-16 tr, #field.img-size-16 td {
  width: 16px;
  height: 16px;
}

#field img, #item-list img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#field img {
  display: block;
  position: absolute;
}

#field.img-size-128 img {
  width: 128px;
  height: 128px;
}
#field.img-size-96 img {
  width: 96px;
  height: 96px;
}
#field.img-size-64 img {
  width: 64px;
  height: 64px;
}
#field.img-size-32 img {
  width: 32px;
  height: 32px;
}
#field.img-size-16 img {
  width: 16px;
  height: 16px;
}

.hide-this {
  display: none;
}

#item-list {
  width: 500px;
  height: 64px;
  margin-top: 10px;
  border: solid grey 3px;
  border-radius: 3px;
  font-size: 40px;
}

#item-list #no-items-msg {
  color: #afafaf;
  margin-top: 6px;
}

#item-list span {
  font-weight: bold;
}

#item-list :not(:last-child) img {
  margin-right: 20px;
}

#item-list img {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

#file-wrapper {
  font-size: 22px;
  margin-top: 20px;
}

#files {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 0;
  vertical-align: middle;
}

#info {
  font-size: 26px;
}

#file-wrapper span {
  margin-left: 30px;
  margin-right: 5px;
}
